body {
  background-image: linear-gradient(to left, #5399b7, #76ff9d);
}

.input-container {
  width: 300px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
}
input[type="text"] {
  position: absolute;
  margin-top: 10px;
  font-size: 18pt;
  padding: 2px;
  width: 85%;
  direction: rtl;
  right: 5%;
  height: 10%;
  border: 2px solid #555;
  border-radius: 5px;
}
#cashIn {
  top: 25%;
}
#dateIn {
  top: 7.5%;
}
#creditIn {
  top: 42.5%;
}
#barDrop {
  position: absolute;
  top: 60%;
  left: 15%;
  width: 10%;
  height: 10%;
  border: 2px solid #555;
  border-radius: 5px;
}
#barDrop:hover {
  cursor: pointer;
}
label {
  position: absolute;
  top: 62%;
  left: 32%;
  font-size: 1.6rem;
}
#confBtn {
  position: absolute;
  width: 32%;
  height: 10%;
  font-size: 1.6rem;
  top: 75%;
  left: 34%;
  padding: 0 0 0 0;
  border: 2px solid #555;
  border-radius: 5px;
}
#confBtn:hover {
  cursor: pointer;
  background-color: #ccc;
}
